<table width="80%">
	<tr>
		<td style="padding: 10px 0 0 0; font-size: 16px; line-height: 20px; text-align:justify;">
			<p>Der Artikel <a href="{{link}}" title="{{item.title}}">{{item.title}}</a> wurde von {{author.first_name}} {{author.last_name}} als fertig markiert.</a></p>
			<p>Er kann nun kontrolliert oder freigegeben werden.</p>
			Viele Grüße,</br>
			<b>Dein Medienportal-Team</b>
		</td>
	</tr>
	<tr>
		<td width="700" height="18" style="line-height:0; font-size:0;"></td>
	</tr>
</table>
